@media only screen and (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  article,
  section,
  aside {
    padding: 0.5em;
    margin: 1em;
  }
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 223, 207);
  }
  main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  body {
    width: 100%;
    font-size: large;
    font-family: "Roboto", sans-serif;
    margin: 0%;
    overflow-x: hidden;
  }
  .background {
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
  }
  .textOverlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    color: rgb(255, 255, 255);
  }

  .textOverlay h2 {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 3.2em;
    position: absolute;
    width: 100%;
    top: 10%;
    color: black;
  }

  #gasthamn {
    color: #fe8f22;
    font-size: 2.8em;
    padding-top: 2em;
    top: 25%;
  }
  .textOverlay div {
    justify-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(
      0deg,
      rgba(68, 67, 67, 0.459) 99%,
      rgba(226, 220, 220, 0.199) 99%
    );
    transform: translate(-50%, -50%);
  }
  #textOverlay-div {
    width: 60%;
    top: 70%;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    justify-self: center;
  }
  .textOverlay p {
    border-radius: 0.5em;
    padding: 1em;
    text-align: center;
    border-radius: 0;
    font-size: large;
    color: rgb(0, 0, 0);
  }
  #about {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
  }
  #about h2 {
    margin: 0.5em;
  }
  #nav {
    height: 25%;
    width: 100%;
  }
  #footer {
    height: 30%;
  }

  #footer ul {
    width: 80%;
    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgba(245, 171, 73, 0.267);
  }
  #about {
    width: 90%;
  }
  #hamensdag {
    flex-direction: column;
    width: 33%;
  }
  #news h2 {
    flex: 20%;
    margin-left: 1.5em;
  }
  #news {
    border-radius: 1em;
    padding: 0.5em;

    margin: 0.5em;
    display: flex;
    flex-direction: row;
  }
  #news img {
    width: 50%;
  }
    #history img {
    width: 50%;
  }
  .parent {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .child {
    background: rgb(250, 240, 232);
    font-size: medium;
    text-align: center;
    flex-grow: 1;
    height: 50%;
    margin-top: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 0.5em;
    padding: 2em;
  }
  .child img {
    width: 95%;
    padding: 0.5em;
  }
  .header-top {
    display: flex;
    height: 2em;
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    transition: 0.8s;
    background-color: rgb(246, 227, 212);
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: medium;
    font-weight: 600;
  }
  .moreText {
    display: none;
    text-align: justify;
    align-items: center;
  }
  .smallText {
    text-align: justify;
  }
  .moreText-active {
    display: inline;
    align-items: center;
  }
  #read-more-btn {
    width: 10%;
    height: 10%;
    color: black;
    border: black;
    border-radius: 0.4em;
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.5em;
    background-color: rgba(197, 186, 177, 0.863);
  }
  #read-more-btn:hover {
    cursor: pointer;
  }
  .textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    align-items: center;
  }
  .nav-menu-active {
  }
  #hamburger {
    cursor: pointer;
    margin: 0em;
    justify-content: center;
  }
  .nav_toggle {
    width: 8%;
  }

  #close {
    display: none;
  }
  #nav_checkbox,
  #nav_en {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
  }

  .nav_menu ul {
    padding: 0%;
    opacity: 1;
    margin-left: 0;
    padding-left: 0;
  }

  #english {
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0.7em;
    height: 2em;
    width: 2em;
  }
  .st0 {
    fill: none;
  }
  .burgerBars div {
    width: 1.6em;
    height: 0.3em;
    background-color: rgb(0, 0, 0);
    margin: 0.3em;
    margin-right: 1em;
    transition: transform 0.5s;
  }
  .burgerBars {
    display: block;
  }
  .burgerBars:hover {
    cursor: pointer;
  }

  .toggle .line1 {
    transform: translatex(10%);
  }
  .toggle .line2 {
    transform: translatex(-20%);
  }
  .toggle .line3 {
    transform: translatex(10%);
  }
  #harbour {
    display: flex;
    width: 45%;
    margin: 0.5em;
    padding: 1em;
    font-size: large;
  }
  #harbour div {
    justify-content: flex-start;
  }
  #harbour ul {
    list-style: none;
    text-align: left;
    padding: 0;
  }
  #harbour li {
    text-align: center;
  }
  #harbour li:last-child {
    padding-top: 1em;
    text-align: left;
  }
  #harbour p {
    padding: 0.4em;
  }
  #harbour h3 {
    font-size: x-large;
  }
  #harbour {
    margin: 1em;
  }
  #activities {
    width: 75%;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #0e4b67;
  }
  #activities-h2 {
    color: #0e4b67;
  }
  #activities p {
    margin: 0.5em;
  }
  #activities img{
    width: 80%;
  }
  #history {
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #4f5153;
  }
  #history-h2 {
    color: #555758;
    font-size: 2.5em;
    top: 22%;
  }
  #hamnjob {
    width: 33%;
  }
  #activities article {
    width: auto;
  }
  #gasthamn-div p {
    top: 83%;
    color: rgb(250, 125, 75);
    font-size: large;
    font-weight: bold;
  }
  #information-story p,
  #stormnight-story p {
    padding: 0.5em;
  }
  #information-story h4,
  #stormnight-story h4 {
    font-size: large;
  }
  .figuretext {
    padding: 0.1em;
    margin: 0.1em;
    font-size: small;
  }
  #names-table {
    display: grid;
    flex-direction: row;
    grid-template-rows: 100% auto;
    justify-content: center;
    width: 100%;
  }
  #names-table td {
    text-align: left;
    font-size: medium;
    width: 55%;
  }
  #member-table {
    display: grid;
    flex-direction: row;
    grid-template-rows: 100% auto;
    justify-content: center;
    width: 100%;
  }
  #member-table td {
    text-align: left;
    font-size: medium;
    width: 33%;
  }
  #member-table th {
    font-size: medium;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  #contact-info {
    width: 90%;
  }
  #contact-h2 {
    color: #4f535c;
  }
  #contact-form {
    padding-bottom: 2em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:baseline;
    width: 85%;
    flex-basis: 25%;
  }
  .child-item:not(:first-child) {
    flex: 1;
  }
  .child-item:nth-child(1) {
    width: 100%;
  }
  #contact-form #send-button {
    width: 20%;
    height: 50%;
    color: black;
    border: black;
    border-radius: 0.4em;
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.5em;
    background-color: rgba(85, 84, 81, 0.863);
  }
  #send-button:hover {
    background-color: rgba(204, 200, 187, 0.863);
    cursor: pointer;
  }
  #send-button{
    align-self: center;
  }
  .textbox-input {
    align-self: center;
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    border: 0.1em solid #ccc;
    border-radius: 0.4em;
  }
  .radio-input {
    align-self: center;
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    border: solid #ccc;
    border-radius: 0.1em;
  }
  #textbox-input-2 {
    align-items: center;
    padding: 0.5em;
  }
  #textbox-input-2 label {
    padding: 0.5em;
  }
  textarea {
    min-width: 80%;
    max-width: 80%;
    min-height: 10em;
    border: 0.1em solid #ccc;
    border-radius: 0.4em;
  }
  fieldset {
    border: none;
  }
  #current-events {
    width: 95%;
  }
  #current-events h2 {
    font-size: x-large;
    text-align: center;
  }
  #community {
    color: #7198bb;
  }
  /* After */
  header h1 {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: medium;
    margin-top: 0%;
  }
  header h1 a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
  }
  .burgerBars div {
    display: none;
  }

  .nav_menu {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transition: 0.8s;
    position: fixed;
    margin-top: 2em;
    justify-content: center;
    z-index: 1;
    background-color: rgb(246, 227, 212);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  .textOverlay h2 {
    font-size: 10em;
    opacity: 0;
  }

  .background {
    display: flex;
    height: 1000px;
    object-fit: cover;
    justify-content: center;
    overflow-y: hidden;
  }
  #current-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #party,
  #cleaning-day,
  #protocol {
    width: 50%;
  }
  #member-info {
    width: 48%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #member-table {
    width: 100%;
  }
}
