@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    scroll-behavior: smooth;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  body {
    width: 100%;
    font-size: large;
    font-family: "Roboto", sans-serif;
    margin: 0%;
    overflow-x: hidden;
  }
  section {
    scroll-snap-align: start;
    height: calc(100vh- 14em);
  }
  #about {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    margin: 1em;
  }
  #about h2 {
  }
  #nav {
    height: 25%;
    width: 100%;
  }
  #footer {
    height: 10%;
  }
  #footer nav ul {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
  #weather {
  }

  #news {
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;
    display: grid;
  }
  .parent {
    width: 100%;
    scroll-snap-type: y mandatory;
    flex-basis: 50%;
    scroll-snap-stop: always;
    overflow-y: hidden;
  }
  .child {
    padding: 0.5rem;
    color: rgba(white, 0.5);
    background: lightgray;
    font-size: medium;
    text-align: center;
    margin-top: 0.7rem;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: medium;
    font-weight: 600;
  }
  .moreText {
    display: none;
    bottom: 0;
    left: 0;
  }
  .moreText-active {
    display: inline;
  }
  .read-more-btn {
    width: 50%;
    height: 50%;
    color: black;
    border: black;
    border-radius: 0.4em;
    padding: 0.5em;
    border-width: 0.5em;
    background-color: rgba(253, 253, 253, 0.281);
  }
  .read-more-btn:hover {
    cursor: pointer;
  }
  .textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    align-items: center;
  }
  #hamburger {
    cursor: pointer;
    margin: 0em;
    justify-content: center;
  }
  .nav_toggle {
    width: 8%;
  }

  #close {
    display: none;
  }
  #nav_checkbox,
  #nav_en {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .smallText {
    display: inline;
  }
  .nav_menu {
    width: 100%;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 0;
    transform: translateY(-130%);
    transition: transform 0.5s ease-in;
    display: none;
    opacity: 0;
  }
  .nav-active {
    display: block;
    transform: translateY(0%);
    opacity: 1;
  }
  .nav_menu ul {
    padding: 0%;
  }

  #header-top {
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      hsla(42.63, 41.3%, 81.96%, 0.13) 0%,
      hsla(42.64, 39.11%, 81.3%, 0.146) 10.6%,
      hsla(42.67, 34.71%, 79.82%, 0.18) 20.2%,
      hsla(42.72, 29.19%, 77.61%, 0.231) 28.8%,
      hsla(42.8, 23.42%, 74.73%, 0.294) 36.6%,
      hsla(42.96, 17.91%, 71.26%, 0.367) 43.7%,
      hsla(43.24, 12.9%, 67.23%, 0.448) 50.2%,
      hsla(43.88, 8.44%, 62.72%, 0.532) 56.2%,
      hsla(45.76, 4.48%, 57.78%, 0.618) 61.8%,
      hsla(62.93, 0.97%, 52.48%, 0.701) 67.1%,
      hsla(211.36, 2.65%, 46.85%, 0.78) 72.3%,
      hsla(215.59, 7.8%, 41.05%, 0.851) 77.5%,
      hsla(215.73, 15.64%, 35.19%, 0.912) 82.7%,
      hsla(214.45, 27.76%, 29.52%, 0.959) 88.1%,
      hsla(211.98, 45.41%, 24.52%, 0.989) 93.8%,
      hsl(210, 58.93%, 21.96%) 100%
    );
  }
  header h1 {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: xx-large;
    margin-top: 0%;
  }
  header h1 a {
    text-decoration: none;
    color: black;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #english {
    cursor: pointer;
    margin: 0em;
    height: 100%;
    width: 100%;
  }
  .burgerBars div {
    width: 1.6em;
    height: 0.3em;
    background-color: rgb(0, 0, 0);

    margin: 0.3em;
    transition: transform 0.5s;
  }
  .burgerBars {
    display: block;
  }
  .burgerBars:hover {
    cursor: pointer;
  }

  .toggle .line1 {
    transform: translatex(10%);
  }
  .toggle .line2 {
    /* transform: rotate(45deg) translate(15%, -5%); */
    transform: translatex(-20%);
  }
  .toggle .line3 {
    /* transform: rotate(-45deg) translate(25%, -70%); */
    transform: translatex(10%);
  }
}
