@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav_menu {
    width: 100%;
    flex-direction: inline;
    gap: 2em;
    align-items: center;
    padding: 0;
    transition: 0.8s;
    position: fixed;
    margin-top: 4em;
    z-index: 1;
    top: 0em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    display: none;
  }
  .nav-active {
    display: block;
    background-color: rgb(245, 240, 236);
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
  }
}
